
body{
  background:#222326;
  color: white;
  overflow-x: hidden;
}

body.fixed-nav {
  padding-top: 56px;
}
.profile-img {
  width: 20%;
  height: auto;
  border: 5px solid grey;
  margin: 0 auto;
  display: block;
}
/*Movee*/
#main-container {
  overflow: hidden;
}

#movies-container {
  padding: 0;
}

#movies {
  min-height: 80vh;
  background-color: #E3E3E3;
  /* box-shadow: 0px 0px 40px 40px rgba(255, 255, 255, 0.6); */
  overflow: auto;
  padding-bottom: 0;
}


/*Footer*/
.page-footer{
  margin-top: 5em;
  height: 15em;
  text-align: center;
  vertical-align: center;
  padding-top: 4em;
  margin-bottom: 0;
  background-color: #01848f;
}
p.copyright{
  font-size: 1em;
}

.logo-footer{
  width: 14em;
  height: 100%;
}
.social-icons{
  font-size: 1.5em;
}
.fa-facebook-square, .fa-twitter-square, .fa-envelope-o, .fa-exclamation-triangle{
  color: #FFF;
  margin-right: 1em;
  font-size: 3em;
}