
body{
  background: black;
}

  .main-container{
  background: #d53369;
  background: -webkit-linear-gradient(to left, #d53369 , #cbad6d);
  background: linear-gradient(to left, #d53369 , #cbad6d);

      }
  .modal_movies  {
      width: 600px;
      color: white;
      background: rgba(0, 0, 0, 0.26);
      border-radius: 10px;
      padding: 3%;

  	}

  .modal_movies img {
      float: left;
      width: 100px;
      height: 100px;
      margin: 10px;
      }

  .modal_movies ul {
      list-style-image: url('http://icons.iconarchive.com/icons/yusuke-kamiyamane/fugue/16/tick-small-icon.png');
      margin-left: 1%;
      float: left;
      clear: right
      }

  .modal_movies button {
     margin-left: 1%;
      float: right;
      }

  .modal_movies h1,h2,h3,h4,h5,h6 {
      padding-bottom: 2%;
      border-bottom: 2px dashed rgba(255, 255, 255, 0.41);
      font-size:20px;
      text-align : center;
      text-transform: uppercase;
      }

  .modal_movies p {
      text-align: justify;
      }

  /* estilos de menu*/

    .information {
       /* outline: 1px solid red; */
        background: #2a3d46;
        position: relative;
        height: 500px;
        margin-left: 12px;
    }
    .information h3 {
        font-size: 34px;
        font-size: 3.4rem;
        font-family: "roboto", sans-serif;
        font-weight: 500;
        color: #FFF;
        padding: 0 15px;
    }
    .information .information_menu {
        padding: 0;
    }
    .information .information_menu li {
        list-style: none;
        position: relative;
    }

    .information .information_menu li a {
        color: #FFF;
        display: block;
        padding: 16px 20px;
        font-size: 15px;
        font-size: 1.5rem;
        text-decoration: none;
    }

    .information .information_menu li a:hover{
      background-color: red;
      cursor: pointer;
    }

    .slideshow {
      overflow: hidden;
      width: 105%;
    }

    #menu{
      margin-top: 20px;
    }

    #menu-principal  li a:hover{
      background:#FF0000;
      border: white;
      color: #FFFFFF;
      font-size: 15px;
     }

  .navbar-header a b{
    background-color:#FF0000;
    padding: 12%;
    color:#FFFFFF;
    font-size: 15px;
  }
  .dropdown{
    font-size: 25px;
   margin-left: -2;
  }

  .dropdown-menu li a:hover {
    background:#FF0000;
  }

  #navbar{
    background:#000000;
  }

    /*estilo del div que muestra imagenes*/

.main-title {
    text-align: center;
}

.hero-img {
    position: relative;
    overflow: hidden;
}

.hero-img:hover .description {
   top: 0;

}
.imgHover {
    display: block;
    width: 100%;

}

.description {
    display: flex;
    align-items: center;
    color: white;
    background: #333;
    position: absolute;
    width: 100%;
    height: 100%;
    top: -100%;
    margin: 0;
    padding: 1em;

}
iframe{

}



/*footer*/
.header-font {
  font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #fd1506;
}

.bg-primary {
 background-color: #000 !important;
}

.bg-circle-outline
{
  width: 40px;
  height: 50px;
  color:smoke;
  padding: 8px 2px;
  border: 2px solid;
  border-color: smoke;
  border-radius: 50%;
  display:inline-block;
  /* outline: 1px solid yellow; */
  float: left;
}

.bg-circle-outline a span{
  font-size: 30px;
  color:black;
}
#img-marv{
  width: 16vw;
  height: 20vh;
  margin-left: 15%;
  margin-top: 3%;

}

footer{
  background-color:#323434;

}
.letter{
  color: white;
}


.footer ul li {
  list-style: none;
  color: white;
  text-decoration:none;
  margin-left: 25%;

}

/* #content{
  color: white;
} */


/* Mapa */
#mapa{
  width: 60vw;
  height: 65vh;
}

/*Fondo*/
.fondo{
  position: relative;
  background-image: url('../assets/images/three.jpg');
  background-size: cover;
  background-origin: border-box;
  height: 40vh;

}
.box{
  border: none;
  width: 60vw;
  height: 80vh;
  font-size:1.5rem ;
  margin-left: 20%;
  color:white;
  position: absolute;
  margin-top: 6%;
}

.textbox{
  text-align: justify;
}

img.kami, img.jenny, img.jymma, img.flora{
  height: 15em;
  width: 15em;
  border-radius: 50em;
  display:block;
  margin-top: 5%;
}
.second{
  margin-left: 50%;
  margin-top: 20%;
  color:white;
}
.nameFront{
  font-weight: bolder;
  font-size: 1.2em;
}

.back{
  margin-left: 0;
  margin-top: 3%;
  margin-bottom: 3%;
}
.backico{
  font-size: 45px;
  cursor:pointer;
  color: white;
}

/*Estilos de imagenes de la data */

.back-categories{
  background:#DCD3D4;
  border: 2px solid gray;
  font-family: 'Ubuntu', sans-serif;

}

.title{

  font-weight: bolder;
  font-family: 'Anton', sans-serif;
  background: #C22D33;
}

.img_categories{
  border: 10px solid #A1646A;
}

.center-all{
  margin-right: 20px;
}
=======

/* Perfil */

img#img-user {
  width: 80px;
  border-radius: 50%;
  margin: 0 auto;
}

h3#name-user {
  color: wheat;
  font-weight: bold;
}
h3.active {
  color: red;
  color: #406c92;
}

div#posterMovie {
  margin-left: 50px;
}

.navbar-collapse.navbar-ex1-collapse.collapse.in {
  overflow: hidden;
}
img#img-user {
  border-radius: 50%;
  width: 100px;
  margin: 0 auto;
}