<!DOCTYPE html>
<html lang="en">

<head>
  <title>Marvel</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../css/principal.css">
</head>

<body>
  <nav class="navbar navbar-default" role="navigation" id="navbar">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Desplegar navegación</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <b>NeoxCinema</b>
      </a>
    </div>

    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul id="menu-principal" class="nav navbar-nav">
        <li>
          <a href="#">peliculas</a>
        </li>
        <li>
          <a href="#">Destacados</a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            generos
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="#">drama</a>
            </li>
            <li>
              <a href="#">romance</a>
            </li>
            <li>
              <a href="#">Acción </a>
              <li>
                <a href="#">Animados</a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="#"></a>
              </li>
          </ul>
          </li>
      </ul>

      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Buscar">
        </div>
        <button type="submit" class="btn btn-default">
          <span class="glyphicon glyphicon-search"></span>BUSCAR</button>
      </form>

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <span class="glyphicon glyphicon-user"></span>
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="#">Ajustes
                <span class="glyphicon glyphicon-cog"></span>
              </a>
            </li>
            <li>
              <a href="#">Perfil
                <span class="glyphicon glyphicon-user">
              </a>
            </li>
            <li>
              <a href="#">Favoritos
                <span class="glyphicon glyphicon-star">
              </a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="#">Salir</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>

  <!--section slider de peliculas-->

  <div class="container-fluid">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>

      <div class="carousel-inner">
        <div class="item active">
          <img src="../assets/images/one.jpg" alt="" style="width:100%;">
        </div>

        <div class="item">
          <img src="../assets/images/two.jpeg" alt="" style="width:100%;">
        </div>

        <div class="item">
          <img src="../assets/images/three.jpg" alt="" style="width:100%;">
        </div>
      </div>

      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

  <!--menu-->
  <div class="container-fluid" id="menu">
    <div class="row">
      <div class=" col-xs-12 2 col-sm-12 col-md-3 information ">
        <h3>NeoxCinema</h3>
        <ul class="information_menu">
          <li class="active" data-id="1" id="personaje">
            <a>
              <span class="glyphicon glyphicon-ok-sign"></span> PERSONAJES </a>
          </li>
          <li data-id="2" id="comics">
            <a>
              <span class="glyphicon glyphicon-ok-sign"></span> COMICS</a>
          </li>
          <li data-id="3" id="movie">
            <a>
              <span class="glyphicon glyphicon-ok-sign"></span> PELICULAS</a>
          </li>
          <li data-id="4" id="creators">
            <a>
              <span class="glyphicon glyphicon-ok-sign"></span> CREADORES</a>
          </li>
          <li data-id="4" id="series">
            <a>
              <span class="glyphicon glyphicon-ok-sign"></span> SERIES</a>
          </li>
          <li data-id="4" id="event">
            <a>
              <span class="glyphicon glyphicon-ok-sign"></span> EVENTOS</a>
          </li>
          <li data-id="4" id="stories">
            <a>
              <span class="glyphicon glyphicon-ok-sign"></span> HISTORIAS</a>
          </li>
        </ul>
      </div>
      <!-- aqui se muestra las fotos  -->
      <div id="content" class="col-xs-2"></div>
    </div>

  </div>

  <footer class="footer">
    <div class="row">
      <div class="col-md-3 footer-brand animated fadeInLeft">
        <div class=" col-xs-4 col-sm-4 col-md-4">
          <div class="row py-0">
            <div class="colxs-4 col-sm-11 col-md-4 text-white">
              <div>
                <h4> Siguenos</h4>
                <p>
                  <span class="header-font">N</span>e
                  <span class="header-font">oxCinema</span>.com</p>
              </div>
            </div>
          </div>
        </div </div>
        <div class="col-xs-4 col-sm-4 col-md-4 ">
          <h4>COMICS </h4>
          <div class="col-xs-4 col-md-4 ">
            <ul class="pages">
              <li>Release Calendar</li>
              <li>Marvel Unlimited</li>
              <li>Redeem Digital Copy</li>
              <li>Shop Digital</li>
            </ul>
          </div>

          
          
          <!-- <div class="col-md-2 footer-social animated fadeInDown">
            <h4>MARVEL</h4>
            <ul>
              <li>Sign Up</li>
              <li>Marvel Insider</li>
              <li>About Marvel</li>
              <li>Help</li>
              </ul>
          </div> -->
          <!-- <div class="col-md-3 footer-ns animated fadeInRight">
          <div class="col-xs-5 col-md-5">
            <div class="list-footer">
              <div class="bg-circle-outline " style="background-color:#3b5998">
                <a href="https://www.facebook.com/"><span class="glyphicon glyphicon-globe"></span></a>
              </div>
              <div class="bg-circle-outline " style="background-color:#4099FF">
                <a href="https://twitter.com/"><span class="glyphicon glyphicon-earphone"></span></a>
              </div>
              
              <div class="bg-circle-outline " style="background-color:#0077B5">
                <a href="https://www.linkedin.com/company/">
                  <span class="glyphicon glyphicon-heart"></span></a>
              </div>
              <div class="bg-circle-outline " style="background-color:#d34836">
                <a href="https://www.google.com/">
                  <span class="glyphicon glyphicon-envelope"></span></a>
                </div>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </footer>
  <!--INICIO DE COMENTARIO-->
            <div id="disqus_thread"></div>
            <script id="dsq-count-scr" src="//jymmak-github-io-neoxcode.disqus.com/count.js" async></script>
            <script>
              (function () { // DON'T EDIT BELOW THIS LINE
                var d = document, s = d.createElement('script');
                s.src = 'https://jymmak-github-io-neoxcode.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
              })();
            </script>
            <noscript>Please enable JavaScript to view the
              <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
            </noscript>
            <!--FIN DE COMENTARIO-->
  
  <script src="vendors/jquery/jquery-3.2.1.min.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.8.2/firebase.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="../js/md5.js"></script>
  <script src="../js/marvel.js"></script>
  <script src="../js/helpers/config_firebase.js"></script>

</body>

</html>