<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>NeoxCode</title>
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link rel="stylesheet" href="../assets/fontawesome/web-fonts-with-css/css/fontawesome-all.min.css">
  <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/login.css">
  <script src="https://www.gstatic.com/firebasejs/4.8.2/firebase.js"></script>
  <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyDnggxgl0EzrkUmptl9EUcbwfCbOQlnsmg",
      authDomain: "neoxcode-8bd83.firebaseapp.com",
      databaseURL: "https://neoxcode-8bd83.firebaseio.com",
      projectId: "neoxcode-8bd83",
      storageBucket: "neoxcode-8bd83.appspot.com",
      messagingSenderId: "1093799281344"
    };
    firebase.initializeApp(config);
  </script>
</head>

<body>
  <section class="back-image">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-11 col-sm-11 col-md-4 offset-md-8 back-sesion">
          <div class="container-forms">
            <!-- Links de los formularios -->
            <ul class="container-tabs">
              <li class="tab tab-segunda active">
                <a href="#iniciar-sesion">Iniciar Sesión</a>
              </li>
              <li class="tab tab-primera">
                <a href="#registrarse">Registrarse</a>
              </li>
            </ul>
            <div class="row" id="section-login">
              <div class="col-md-3 col-sm-3">
                <img src="../assets/images/.png" alt="" class="img-fluid logo">
              </div>
              <!-- Contenido de los Formularios -->
              <div class="contenido-tab">
                <!-- Iniciar Sesion -->
                <div id="iniciar-sesion">
                  <h4>Iniciar Sesión</h4>
                  <div class="contenedor-input">
                    <input id="email2" type="email" placeholder="Ingresa email">
                  </div>
                  <div class="contenedor-input">
                    <input id="contrasena2" type="password" placeholder="Ingresa contraseña">
                  </div>
                  <div class="contenedor-input">
                    <input onclick='ingreso()' type="submit" value="Acceder" class="btn btn-outline-primary btn-sm">
                  </div>
                  <p class="forgot">
                    <a href="#">Se te olvidó la contraseña?</a>
                  </p>
                  <button class="btn btn-primary btn-sm" type="submit" id="fb-login">
                    <i class="fa fa-facebook" aria-hidden="true"></i>Inicia con Facebook</button>
                  <button class="btn btn-success btn-sm" type="submit" id="google-login">
                    <i class="fa fa-google" aria-hidden="true"></i>Inicia con Google</button>
                </div>
                <!-- Registrarse -->
                <div id="registrarse">
                  <h4>Registrarse</h4>
                  <div action="#" method="post">
                    <div class="fila-arriba">
                      <div class="contenedor-input">
                        <input required type="name" class="form-control" id="name" placeholder="Nombre de Usuario">
                      </div>
                      <div class="contenedor-input">
                        <input required type="email" class="form-control" id="email" placeholder="Ingresa email">
                      </div>
                      <div class="contenedor-input">
                        <input required type="password" class="form-control" id="pass" placeholder="Ingresa contraseña">
                      </div>
                      <input onclick='registrar()' type="submit" value="Registrarse" class="btn btn-outline-primary btn-sm">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  </section>

  <!-- Sección scripts-->
  <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
  <script src="../vendors/bootstrap/js/bootstrap.min.js"></script>
  <script src="../js/sesion.js"></script>
  <script src="../js/login.js"></script>
</body>

</html>