<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <!-- Bootstrap core CSS -->
  <link type="text/css" rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css" />
  <link href="assets/icons/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="../css/main.css" rel="stylesheet">
  <title>PELIS</title>
</head>

<body>

  <section class="main">
    <div class="opacity">
      <div class="row">
        <div class="col-xs-12">
          <p class="texto  bold center colorwhite">PELICULAS</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 center-align">

          <button id="inifacebook" class="center-align waves-effect waves-light btn">
            <i class="fa fa-facebook fa-3" aria-hidden="true"></i> Continuar con facebook</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 center-align">
          <button id="inigoogle" class="center-align waves-effect waves-light btn">
            <i class="fa fa-google fa-3" aria-hidden="true"></i> Continuar con Google</button>
        </div>
      </div>
    </div>
  </section>

  <!-- - jquery- JavaScript -Bootstrap- -->
  <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
  <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
  <script src="../vendors/bootstrap/js/bootstrap.min.js"></script>
  <script src="../js/helpers/config_firebase.js"></script>
  <script src="../js/main.js"></script>
</body>

</html>