<!DOCTYPE html>
<html lang="en">

<head>
  <title>Marvel</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="../assets/icons/fontawesome/web-fonts-with-css/css/fontawesome-all.min.css">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../css/ed-grid.min.css">
  <link rel="stylesheet" href="../css/principal.css">
</head>

<body>
  <div class="back">
    <i class="far fa-arrow-alt-circle-left backico"></i>
  </div>

  <div class="fondo"></div>
  <div class="box">
    <h1>Quienes Somos</h1>
    <p class="textbox">
      Somos un grupo de chicas apasionadas dedicadas a los que les encantan las películas de MARVEL, con sus personajes emblemáticos
      del género superheroico se encuentran Spider-Man, Capitán América, Iron Man, Hulk, Thor, Deadpool, Avengers, Wolverine,
      Daredevil, los X-Men, Luke Cage, Inhumanos, entre otros.
      <br> ¡¡Te invitamos a unirte a esta pasión !! ... </p>


    <div class="row front">
      <div class="col s2 m2 l2 x2"></div>
      <!-- no borrar -->
      <div class="col s4 m4 l4 xl4">
        <img class="responsive-img kami" src="../assets/images/kamaly.png" alt="Kamaly">
        <p class="nameFront">Kamaly Zapana</p>
        <p>Front-End Developer</p>
      </div>

      <div class="col s4 m4 l4 xl4 ">
        <img class="responsive-img jenny" src="../assets/images/jenny.png" alt="Jenny">
        <p class="nameFront">Jennifer Milagros Carmen</p>
        <p>Front-End Developer</p>
      </div>
    </div>

    <div class="front">
      <div>
        <img class="responsive-img kami" src="../assets/images/yo.png" alt="Jymma">
        <p class="nameFront">Jymma Mogollon</p>
        <p>Front-End Developer</p>
      </div>

      <div ">
        <img class="responsive-img jenny " src="../assets/images/flora.png " alt="Flora ">
        <p class="nameFront ">Flora Maria Huerta</p>
        <p>UX Designr</p>
      </div>
    </div>
  </div>





  <script src="vendors/jquery/jquery-3.2.1.min.js "></script>
  <script src="https://www.gstatic.com/firebasejs/4.8.2/firebase.js "></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js "></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js "></script>
  <script src="../js/helpers/config_firebase.js "></script>
  <script src="../js/app.js "></script>

</body>

</html>